<h1>HTTP in Angular</h1>
<p>import HTTPClientModule from @angular/common/http</p>

<div>
  <textarea #jsonData cols="50" rows="10">
    {
      "user": ,
      "id": ,
      "title": ,
      "body": 
    }
  </textarea>

  <br />

  id: <input #id type="text" />

  <br />

  <button (click)="get(id.value)">GET</button>
  <button (click)="post(jsonData.value)">POST</button>
  <button (click)="patch(id.value, jsonData.value)">PATCH</button>
  <button (click)="delete(id.value)">DELETE</button>
</div>

<pre>
  {{ posts$ | async | json }}
</pre>

<div *ngIf="posts$ | async as posts; else loading">
  {{ posts | json }}
</div>
<ng-template #loading> loading.. </ng-template>

<!-- <button (click)="getAllPosts()">getAllPosts</button>


<h1>Not good because data is an observable and not an object</h1>
<pre>
    {{ data | json }}
 </pre>

<div *ngIf="posts$ | async as posts; else loading">
  {{ posts | json }}
</div>

<ng-template #loading>
  <div>loading...</div>
</ng-template>

<h1>ng if as</h1>
<div *ngIf="5 * 5 + 8 as theValueThatWasGivvenToNgIfAndIsTrue">
  {{ theValueThatWasGivvenToNgIfAndIsTrue }}
</div>

<p>pipe async subscribes to observables or promises and returns the next</p>
{{ posts$ | async | json }}
{{ posts$ | async | json }}  -->
